<div class="bg-fixed bg-center bg-cover flex justify-center items-center" style="height: 55vh;background-image: url(<%= asset_path 'people.jpg' %>)">
  <div class="text-center mx-auto">
    <h1 class="text-5xl text-gray-300">Newsroom</h1>
    <p class="text-gray-200 w-2/5 mx-auto">Keep up to date with what we're working on! Italcopie is an ever evolving company with regular updates.</p>
  </div>
</div>
